body {
    background-color: white; /* Le fond de la page sera  */
    color: black; /* Le texte de la page sera  */
    align-items: center;
    max-width: 1200px;
    margin:auto;
    font-family:"Raleway";/*ceci est un commentaire*/
}

.hebergement-activité {      /*ligne 23 sur le html*/
    background-color: blueviolet;
    display: flex;
    flex-wrap:wrap; 
    font-size: 16px;
    
 /*   margin: 10px 10px 10px 0;
   border-spacing: 15px;*/
  
   /* gap: 100px 20px;*/


   /*align-items: center;*/
   /* justify-content:space-around;*/
   /*justify-content: flex-start*/   
}

.logo-booki{         /*ligne 24 sur le html*/
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    /*gap: 100px 50px;*/
    margin: 10px 50px 50px 0;
} 

.hebergements{           /*ligne 27 sur le html*/
    margin: 0 20px 0 auto;
    
} 

.hebergements a {           /*permet d'enlever la ligne sur le texte */
    color: black;
    text-decoration: none;
    
}

.elementmenu{               /*ligne 27 et 31 sur le html*/
    display: flex;
    flex: wrap;
    background-color: rgb(140, 240, 182);
    border-top:3px solid #0065FC;
    /*gap: 68px;*/
    padding-top: 10px;
    border-top: 3px solid transparent;  
} 

.elementmenu:hover {       /* ligne bleu du hover*/
    border-top: 3px solid  #0065FC;
}

.elementmenu:hover  a{
    color: #0065FC;
}

.activités{
    display: flex;
    flex: wrap;
    background-color: rgb(140, 240, 182);
    
}

.activités a {              /*ligne 32 sur le html*/
    color: black;
    text-decoration: none;
}

.trouvez{               /* titre du site  (ligne 42 sur le html)*/
    display: flex;
    flex-wrap: wrap;
    background-color: blue ;
   /* margin-top: 0px;*/
    font-size: 22px;
    font-weight: bolder;
    Width:1340px;       /*est ce que c'est utile ?*/
    Height: 26px;
    margin-bottom: 10px;
       
}

.centre-ville{              /* sous-titre du site  (ligne 42 sur le html)*/
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    font-size: 16px;        /*est ce que c'est utile ?*/
    width: 300px;
    margin-bottom: 8px;
}  

.block-recherche {          /* point pour chercher sur différentes villes  (ligne 49 sur le html)*/
    display: flex;
    flex-wrap:wrap; 
    align-items: center;
   /* justify-content:space-around;*/
   /*justify-content: flex-start*/
   border-spacing: 15px;        /*est ce que c'est utile ?*/
   margin-bottom: 10;   
   
}

.icon-position {            /*   (ligne 50 sur le html)*/
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 8px 7px 8px;
    border: 3px solid #F2F2F2;
    /*overflow: hidden;*/
    background-color: #F2F2F2;
}

.blockmarseillefrance {  /* ligne 55 sur le html*/
    
    border-radius: 0px 0px 0px 0px;
   /* padding: 30px 80px 0px 8px;*/
   padding: 10px 8px 7px 8px;
    border: 1px solid #F2F2F2;       
}

.bouton-recherche{ 
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    border: 1.5px solid  #0065FC;
    border-radius: 0px 10px 10px 0px;;
    padding: 10px 8px 7px 8px;
}

.lignefiltre {      /* pour pouvoir filtrer les recherches  (ligne 42 sur le html)*/
    display: flex;
    flex-wrap:wrap; 
    align-items: center;
   /* justify-content:space-around;*/
   /*justify-content: flex-start*/
   border-spacing: 15px;            /*la difference entre les deux*/
    gap: 15px;                                                                         
   align-content: center;
   margin-bottom: 0px;
   margin-top: 0px;
}

.lignefiltre a {
    color: black;
    text-decoration: none;
}

.icon{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    gap: 10px;
} 

.cliquer:hover {
    background-color: #DEEBFF;
    color: black;
    border: 2px solid #DEEBFF;
    border-radius: 30px 30px 30px 30px;
}

.filtre{
    display: flex;
    border: 2px solid rgb(191, 185, 185);
    border-radius: 30px 30px 30px 30px;
    gap: 10px;
    padding: 0px 5px 0px;
    justify-content: flex-start;        /*est ce que c'est utile ?*/
    align-items: center;        
    height: 40px;
} 

.point-info{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    font-size: 12px; 
    margin-top: 10px;
}  

   






